/* css reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* end of css reset */

:root {
  --color-primary: #3ecf4c;
  --color-secondary: #e2fcd9cc;
  --color-background: #fffdf3;
  --color-surface: #fff;
  --color-text-base: #4a505c;
  --color-text-primary: #222325;
  --color-text-subtle: #333333ad;
  --color-border: #f1f1f1;
  --color-error: #d32e1f;
  --color-active: #f64920;
  --color-border-dark: #3a35411f;
  --border-radius-sm: 6px;
  --border-radius-md: 10px;
  --font-base: "DM Sans", sans-serif;
  --font-heading: "Poppins", sans-serif;
  --font-size-base: 16px;
  --font-weight-base: 400;
  --line-height-base: 1.4;
  --letter-spacing-base: 0.2px;
}

html,
body {
  height: 100%;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--color-background);
  font-family: var(--font-base);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-base);
  line-height: var(--line-height-base);
  letter-spacing: var(--letter-spacing-base);
  color: var(--color-text-base);
}

.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  height: 80px;
  border-bottom: 1px solid var(--color-border-dark);
  padding: 12px 120px;
  background-color: var(--color-surface);
}

.topbar a {
  display: flex;
  align-items: center;
}

.topbar a img {
  width: 193px;
}

.topbar-menu {
  display: flex;
  gap: 36px;
}

.topbar-menu a {
  text-decoration: none;
  font-family: var(--font-base);
  font-weight: 500;
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  letter-spacing: var(--letter-spacing-base);
  color: var(--color-text-subtle);
}

.topbar-menu img {
  width: 44px;
  border-radius: var(--border-radius-md);
}

.menu-toggle {
  display: none;
}

main.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 64px 20px;
}

main.beranda {
  display: flex;
  flex-direction: column;
  padding: 64px 120px;
  gap: 64px;
}

.form-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 1 590px;
  border-radius: 4px;
  border: 1px solid var(--color-border);
  padding: 36px;
  gap: 36px;
  background-color: var(--color-surface);
}

.form-card .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.form-card .header h1 {
  font-family: var(--font-heading);
  font-weight: 600;
  font-size: 32px;
  line-height: 1.1;
  color: var(--color-text-base);
}

.form-card .header p {
  color: var(--color-text-subtle);
}

.form-card form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.main-input {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.text-input,
.btn-input {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  padding: 4px 0;
}

.form-group label::after {
  content: "*";
  color: var(--color-error);
  margin-left: 4px;
}

.form-group input {
  width: 100%;
  height: 48px;
  border-radius: var(--border-radius-sm);
  border: 1px solid var(--color-border);
  padding: 4px 48px 4px 16px;
  font-family: var(--font-base);
  font-weight: var(--font-weight-base);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  letter-spacing: var(--letter-spacing-base);
  color: var(--color-text-primary);
}

.form-group input:focus,
.phone-input-container .country-code:focus {
  outline: none;
  border-color: var(--color-primary);
  box-shadow: 0 0 0 3px rgba(62, 207, 76, 0.3);
}

.phone-input-container {
  display: flex;
  align-items: center;
  gap: 24px;
}

.phone-input-container .country-code {
  appearance: none;
  flex: 1;
  height: 48px;
  min-width: 122px;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-sm);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  letter-spacing: var(--letter-spacing-base);
  color: var(--color-text-primary);
  padding-left: 56px;
  background-image: url("../assets/logo/arrow_down.svg"),
    url("../assets/logo/idn.svg"), linear-gradient(#f4f5fa, #f4f5fa);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: left 120px center, left 10px center, left 0px center;
  background-size: 28px, 24px, 44px 100%;
}

.phone-input-container input {
  flex: 2.8;
}

.input-wrapper {
  position: relative;
}

.password-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: none;
  cursor: pointer;
}

.forgot-password {
  text-decoration: none;
  color: var(--color-text-base);
  text-align: right;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  border-radius: var(--border-radius-md);
  border: none;
  font-family: var(--font-base);
  font-weight: 700;
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  letter-spacing: var(--letter-spacing-base);
  text-decoration: none;
  cursor: pointer;
}

.btn:hover {
  filter: brightness(0.9);
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-surface);
}

.btn-secondary {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

.divider {
  display: flex;
  align-items: center;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  height: 2px;
  background-color: var(--color-border);
}

.divider::before {
  margin-right: 10px;
}

.divider::after {
  margin-left: 10px;
}

.btn-google {
  border: 1px solid var(--color-border);
  background: none;
  color: var(--color-text-subtle);
}

.btn-google img {
  width: 20px;
  margin-right: 8px;
}

.hero {
  background-image: url(../assets/image/hero.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-radius: var(--border-radius-md);
  padding: 69px 140px 50px 140px;
  position: relative;
  overflow: hidden;
  align-items: center;
}

.hero::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.text-hero,
.button-hero {
  z-index: 1;
}

.text-hero {
  color: var(--color-surface);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.text-hero h1 {
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 48px;
  line-height: 1.1;
}

.button-hero {
  max-width: 373px;
}

.button-hero .btn {
  padding: 10px 26px;
  font-weight: 400;
}

.courses {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.courses-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.courses-header h3 {
  font-family: var(--font-heading);
  font-weight: 600;
  font-size: 32px;
  line-height: 1.1;
  color: var(--color-text-primary);
}

.courses-header p {
  font-weight: 500;
  color: var(--color-text-subtle);
}

.tabs ul {
  display: flex;
  list-style: none;
}

.tabs ul li {
  margin-right: 36px;
}

.tabs ul li:last-child {
  margin-right: 0;
}

.tabs ul a {
  display: flex;
  align-items: center;
  height: 52px;
  text-decoration: none;
  font-weight: 500;
  color: var(--color-text-subtle);
  position: relative;
}

.tabs .active {
  color: var(--color-active);
}

.tabs {
  position: relative;
}

.tabs .active::before {
  content: "";
  position: absolute;
  width: 54%;
  height: 5px;
  background-color: var(--color-active);
  bottom: 0;
  left: 0;
  border-radius: 10px;
}

.course-wrapper {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  gap: 24px;
}

.course-card .wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.course-card {
  display: flex;
  flex-direction: column;
  flex: 1 1 290px;
  border-radius: var(--border-radius-md);
  border: 1px solid var(--color-border-dark);
  padding: 20px;
  gap: 16px;
  background-color: var(--color-surface);
}

.card-banner img {
  width: 100%;
  min-width: 82px;
  height: 193px;
  object-fit: cover;
  border-radius: var(--border-radius-md);
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 14px;
}

.card-content h6 {
  font-family: var(--font-heading);
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  color: var(--color-text-primary);
}

.card-content p {
  font-weight: 500;
  color: var(--color-text-subtle);
}

.instructor-info {
  display: flex;
  gap: 10px;
}

.instructor-info h6 {
  font-weight: 500;
  color: var(--color-text-primary);
}

.instructor-info p {
  font-size: 14px;
  color: var(--color-text-subtle);
}

.gojek {
  font-weight: 700;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rating {
  display: flex;
  align-items: center;
}

.rating span {
  margin-left: 8px;
  font-weight: 500;
  font-size: 14px;
  color: var(--color-text-subtle);
}

.price {
  font-family: var(--font-heading);
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  color: var(--color-primary);
}

.cta {
  display: flex;
  background-image: url(../assets/image/hero2.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  box-shadow: 0 12px 45px -10px #003bde33;
}

.cta::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.cta-content {
  z-index: 1;
  max-width: 525px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.cta-text-content {
  text-align: center;
}

.cta-text-content h6 {
  font-weight: 500;
  font-size: 18px;
  color: #c1c2c4;
  margin-bottom: 4px;
}

.cta-text-content h3 {
  font-family: var(--font-heading);
  font-weight: 600;
  font-size: 32px;
  line-height: 1.1;
  color: var(--color-surface);
  margin-bottom: 10px;
}

.cta-text-content p {
  color: #f4f5fa;
}

.cta-input {
  position: relative;
}

.cta-input input {
  width: 100%;
  height: 58px;
  border-radius: var(--border-radius-md);
  border: none;
  padding: 8px 8px 8px 32px;
  font-family: var(--font-base);
  font-weight: var(--font-weight-base);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  letter-spacing: var(--letter-spacing-base);
  color: var(--color-text-primary);
}

.cta-input input::placeholder {
  color: var(--color-text-subtle);
}

.subscribe {
  width: 132px;
  height: 42px;
  border-radius: var(--border-radius-md);
  border: none;
  background-color: #ffbd3a;
  font-family: var(--font-base);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0.2px;
  color: var(--color-surface);
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

footer {
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--color-border-dark);
  padding: 59px 120px;
  background-color: var(--color-surface);
  gap: 16px;
}

.company-info {
  display: flex;
  justify-content: space-between;
}

.company-info li {
  list-style: none;
}

.company-info li a {
  text-decoration: none;
}

.company-info .arrow {
  display: none;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 352px;
}

.contact a {
  padding: 12px 0;
}

.text-contact {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.text-contact h6 {
  font-weight: 700;
  color: var(--color-text-primary);
}

.text-contact p {
  color: var(--color-text-primary);
}

.company-info .list {
  display: flex;
  gap: 48px;
}

.footer-category,
.about,
.comunity {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.footer-category h6,
.about h6,
.comunity h6 {
  font-weight: 700;
  color: var(--color-text-primary);
}

.footer-category a,
.about a,
.comunity a {
  text-decoration: none;
  font-weight: 500;
  color: var(--color-text-subtle);
}

.copyright::before {
  content: "";
  flex: 1 100%;
  height: 1px;
  border-bottom: 1px solid var(--color-border-dark);
  display: block;
  padding-top: 32px;
  margin-bottom: 20px;
}

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.copyright p {
  font-weight: 500;
  color: var(--color-text-subtle);
}

.copyright figure {
  display: flex;
  gap: 15px;
}

/* responsif */
@media (max-width: 780px) {
  .topbar {
    box-shadow: 0 0 20px 0 #3e434a4f;
    padding: 16px 24px;
    height: 74px;
  }

  .topbar a img {
    width: 145px;
  }

  .topbar-menu {
    display: none;
  }

  .menu-toggle {
    display: flex;
    flex-direction: column;
    height: 12px;
    justify-content: space-between;
  }

  .topbar .menu-toggle span {
    display: block;
    width: 20px;
    height: 2px;
    background-color: var(--color-text-base);
  }

  main.auth {
    align-items: flex-start;
    padding: 28px 20px;
  }

  main.beranda {
    padding: 28px 20px;
    gap: 24px;
  }

  .form-card {
    padding: 20px;
    gap: 20px;
  }

  .form-card .header h1 {
    font-size: 24px;
  }

  .form-card .header p {
    font-size: 14px;
  }

  .form-card form {
    gap: 20px;
  }

  .text-input {
    gap: 12px;
  }

  .form-group label {
    font-size: 14px;
  }

  .form-group input {
    font-size: 14px;
  }

  .forgot-password {
    font-size: 14px;
  }

  .divider {
    font-size: 14px;
  }

  .btn {
    font-size: 14px;
  }

  .phone-input-container .country-code {
    font-size: 14px;
    background-position: left 85px center, left 10px center, left 0px center;
  }

  .hero {
    padding: 36px 20px;
  }

  .text-hero h1 {
    font-size: 24px;
  }

  .text-hero p {
    font-size: 14px;
  }

  .button-hero .btn {
    font-weight: 400;
    padding: 6px;
    font-size: 14px;
  }

  .courses {
    gap: 24px;
  }

  .courses-header h3 {
    font-size: 24px;
  }

  .courses-header p {
    font-size: 14px;
  }

  .tabs ul {
    overflow-x: auto;
    white-space: nowrap;
  }

  .tabs ul a {
    font-size: 14px;
    height: 50px;
  }

  .tabs ul::-webkit-scrollbar {
    display: none;
  }

  .course-wrapper {
    gap: 20px;
  }

  .course-card {
    padding: 16px;
    gap: 4px;
  }

  .course-card:nth-child(1) {
    order: 1;
  }
  .course-card:nth-child(2) {
    order: 2;
  }
  .course-card:nth-child(3) {
    order: 3;
  }
  .course-card:nth-child(4) {
    order: 5;
  }
  .course-card:nth-child(5) {
    order: 4;
  }
  .course-card:nth-child(6) {
    order: 6;
  }
  .course-card:nth-child(7) {
    order: 7;
  }
  .course-card:nth-child(8) {
    order: 8;
  }
  .course-card:nth-child(9) {
    order: 9;
  }

  .course-card .wrapper {
    flex-direction: row;
    gap: 12px;
  }

  .card-banner img {
    width: 100%;
    height: 82px;
  }

  .card-banner {
    flex: 1;
    height: 82px;
  }

  .content-instructor {
    display: flex;
    flex-direction: column;
    flex: 3;
  }

  .card-content {
    margin-bottom: 6px;
  }

  .card-content h6 {
    font-size: 16px;
  }

  .instructor-info img {
    height: 36px;
  }

  .instructor-info h6 {
    font-size: 14px;
  }

  .instructor-info p {
    font-size: 12px;
  }

  .instructor-info p span {
    display: none;
  }

  .instructor-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 37px;
  }

  .course-card .content-instructor .card-content p {
    display: none;
  }

  .card-footer {
    margin-top: 3px;
  }

  .rating span {
    font-size: 12px;
  }

  .price {
    font-size: 20px;
  }

  .cta {
    padding-left: 20px;
    padding-right: 20px;
  }

  .cta-text-content h6 {
    font-size: 16px;
  }

  .cta-text-content h3 {
    font-size: 24px;
  }

  .cta-text-content p {
    font-size: 14px;
  }

  .cta-input {
    position: static;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .cta-input input {
    font-size: 14px;
    height: 40px;
    text-align: center;
    padding: 10px 8px 10px 12px;
  }

  .subscribe {
    position: static;
    width: 100%;
    height: 40px;
    transform: translateY(0);
    font-size: 14px;
  }

  footer {
    padding: 20px;
    gap: 16px;
  }

  .company-info {
    flex-direction: column;
    gap: 16px;
  }

  .contact a {
    padding: 2px 0 4px 0;
  }

  .contact a img {
    width: 162px;
  }

  .text-contact {
    gap: 8px;
  }

  .text-contact h6 {
    font-weight: 700;
    font-size: 14px;
  }

  .text-contact p {
    font-size: 14px;
  }

  .company-info ul li {
    display: none;
  }

  .company-info .list {
    flex-direction: column;
    gap: 12px;
  }

  .footer-category,
  .about,
  .comunity {
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    height: 24px;
  }

  .company-info .arrow {
    display: inline;
    font-size: 20px;
    padding-right: 12px;
    font-weight: 300;
  }

  .copyright::before {
    content: "";
    padding-top: 0;
    margin-bottom: 14px;
  }

  .copyright-content:nth-child(1) {
    order: 2;
  }

  .copyright-content:nth-child(2) {
    order: 1;
  }

  .copyright img {
    height: 35px;
  }

  .copyright p {
    margin-top: 12px;
  }
}
